<!DOCTYPE html>
<html lang="en">

  <%= partial "shared/head" %>

  <body>
    <%= partial "shared/navbar" %>

    <%= yield %>

    <%= partial "shared/footer" %>

    <%= google_analytics_tag %>
  </body>

</html>
